node-red/data/flow.json
[
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "SmartBin MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "tab_main",
        "type": "tab",
        "label": "SmartBin Trash Detection",
        "disabled": false,
        "info": "Simple flow to simulate trash detection"
    },
    {
        "id": "inject_detect_trash",
        "type": "inject",
        "z": "tab_main",
        "name": "Detect Trash",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "function_detect_trash"
            ]
        ]
    },
    {
        "id": "function_detect_trash",
        "type": "function",
        "z": "tab_main",
        "name": "Create Detection",
        "func": "// Get bin ID - use first available bin or set your own\nconst bin_id = env.get('BIN_ID') || 'b3602a54-17b8-476d-b5ed-518245362690';\nconst user_qr = env.get('USER_QR') || 'SB-user-001';\n\n// Random material type\nconst materials = ['plastic', 'paper', 'glass', 'metal', 'organic', 'other'];\nconst material = materials[Math.floor(Math.random() * materials.length)];\n\n// Confidence between 0.85 and 0.99\nconst confidence = (Math.random() * 0.14 + 0.85).toFixed(2);\n\nmsg.topic = `bin/${bin_id}/detected`;\nmsg.payload = {\n    bin_id: bin_id,\n    user_qr_code: user_qr,\n    material: material,\n    material_type: material,\n    confidence: parseFloat(confidence),\n    timestamp: new Date().toISOString(),\n    event: 'material_detected'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "mqtt_publish_detect"
            ]
        ]
    },
    {
        "id": "mqtt_publish_detect",
        "type": "mqtt out",
        "z": "tab_main",
        "name": "Publish to MQTT",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_subscribe_open",
        "type": "mqtt in",
        "z": "tab_main",
        "name": "Listen: Bin Opens",
        "topic": "bin/+/open",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "function_auto_detect"
            ]
        ]
    },
    {
        "id": "function_auto_detect",
        "type": "function",
        "z": "tab_main",
        "name": "Create Detection",
        "func": "// When bin opens, prepare detection message\nconst bin_id = msg.payload.bin_id || msg.topic.split('/')[1];\nconst user_qr = msg.payload.user_qr_code || 'SB-user-001';\n\n// Random material type\nconst materials = ['plastic', 'paper', 'glass', 'metal', 'organic', 'other'];\nconst material = materials[Math.floor(Math.random() * materials.length)];\n\n// Confidence between 0.85 and 0.99\nconst confidence = (Math.random() * 0.14 + 0.85).toFixed(2);\n\nmsg.topic = `bin/${bin_id}/detected`;\nmsg.payload = {\n    bin_id: bin_id,\n    user_qr_code: user_qr,\n    material: material,\n    material_type: material,\n    confidence: parseFloat(confidence),\n    timestamp: new Date().toISOString(),\n    event: 'material_detected'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "delay_3_5_seconds"
            ]
        ]
    },
    {
        "id": "delay_3_5_seconds",
        "type": "delay",
        "z": "tab_main",
        "name": "Wait 3-5 seconds",
        "pauseType": "random",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "3",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "mqtt_publish_detect"
            ]
        ]
    }
]
