node-red/data/flows.json
[
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "SmartBin MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "tab_main",
        "type": "tab",
        "label": "SmartBin NFC & IoT Simulation",
        "disabled": false,
        "info": "1. User chooses bin in app\n2. User taps NFC here\n3. Bin opens automatically\n4. User puts trash"
    },
    {
        "id": "http_select_bin",
        "type": "http in",
        "z": "tab_main",
        "name": "POST /nfc/select-bin",
        "url": "/nfc/select-bin",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 80,
        "wires": [["function_store_selected_bin"]]
    },
    {
        "id": "function_store_selected_bin",
        "type": "function",
        "z": "tab_main",
        "name": "Store Selected Bin",
        "func": "const binData = msg.payload;\n\n// Store the bin user selected in the app\nflow.set('selectedBin', {\n    bin_id: binData.bin_id,\n    bin_name: binData.bin_name,\n    nfc_tag_id: binData.nfc_tag_id,\n    selected_at: new Date().toISOString()\n});\n\n// Clear previous scan\nflow.set('nfcScanResult', null);\n\nnode.status({\n    fill: 'blue',\n    shape: 'dot',\n    text: `User selected: ${binData.bin_name}`\n});\n\nmsg.payload = {\n    success: true,\n    message: `Bin selected. Now scan NFC tag from Node-RED.`\n};\nmsg.statusCode = 200;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 80,
        "wires": [["http_response_select"]]
    },
    {
        "id": "http_response_select",
        "type": "http response",
        "z": "tab_main",
        "name": "Return Success",
        "statusCode": "",
        "headers": {"Access-Control-Allow-Origin": "*"},
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "inject_nfc_tap",
        "type": "inject",
        "z": "tab_main",
        "name": "Simulate: User Taps NFC",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 180,
        "wires": [["function_nfc_scan"]]
    },
    {
        "id": "function_nfc_scan",
        "type": "function",
        "z": "tab_main",
        "name": "Simulate NFC Scan & Verify",
        "func": "// Get the bin user selected in the app\nconst selectedBin = flow.get('selectedBin');\n\nif (!selectedBin) {\n    node.error('No bin selected! User must click \"Use NFC\" in the app first.');\n    node.status({fill:'red', shape:'ring', text:'No bin selected'});\n    return null;\n}\n\n// Simulate: User taps their phone on the bin's NFC tag\n// In real life, phone reads the NFC chip on the bin\nconst scannedNfcTag = selectedBin.nfc_tag_id;\n\n// Verify: Does scanned NFC match the selected bin?\nif (scannedNfcTag === selectedBin.nfc_tag_id) {\n    // SUCCESS: User is near the correct bin!\n    const scanResult = {\n        success: true,\n        verified: true,\n        bin_id: selectedBin.bin_id,\n        bin_name: selectedBin.bin_name,\n        nfc_tag_id: scannedNfcTag,\n        scanned_at: new Date().toISOString()\n    };\n    \n    flow.set('nfcScanResult', scanResult);\n    \n    node.status({\n        fill: 'green',\n        shape: 'dot',\n        text: `✓ NFC Verified: ${selectedBin.bin_name}`\n    });\n    \n    // Call backend API to open bin\n    msg.url = `http://bin_service:8000/api/bins/list/${selectedBin.bin_id}/open/`;\n    msg.method = 'POST';\n    msg.payload = {\n        user_qr_code: 'SB-user-001',\n        nfc_tag_id: scannedNfcTag\n    };\n    \n    return msg;\n} else {\n    // FAIL: Wrong bin!\n    node.error('NFC verification failed! User is near wrong bin.');\n    node.status({fill:'red', shape:'ring', text:'Wrong bin!'});\n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 180,
        "wires": [["http_request_open_bin"]]
    },
    {
        "id": "http_request_open_bin",
        "type": "http request",
        "z": "tab_main",
        "name": "POST Open Bin",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {"keyType":"Content-Type","keyValue":"","valueType":"application/json","valueValue":""},
            {"keyType":"other","keyValue":"Host","valueType":"other","valueValue":"localhost:8002"}
        ],
        "x": 730,
        "y": 180,
        "wires": [["function_store_opened", "debug_nfc"]]
    },
    {
        "id": "function_store_opened",
        "type": "function",
        "z": "tab_main",
        "name": "Store Opened Bin",
        "func": "// Store opened bin info for trash detection\nconst selectedBin = flow.get('selectedBin');\nif (selectedBin && msg.statusCode === 200) {\n    flow.set('lastOpenedBin', {\n        bin_id: selectedBin.bin_id,\n        user_qr_code: 'SB-user-001',\n        opened_at: new Date().toISOString()\n    });\n    node.status({fill:'green', shape:'dot', text:'✓ Bin opened & stored'});\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 960,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "debug_nfc",
        "type": "debug",
        "z": "tab_main",
        "name": "NFC Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "http_check_scan",
        "type": "http in",
        "z": "tab_main",
        "name": "GET /nfc/check-scan/:bin_id",
        "url": "/nfc/check-scan/:bin_id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 280,
        "wires": [["function_check_scan_result"]]
    },
    {
        "id": "function_check_scan_result",
        "type": "function",
        "z": "tab_main",
        "name": "Check Scan Result",
        "func": "const binId = msg.req.params.bin_id;\nconst scanResult = flow.get('nfcScanResult');\n\nif (scanResult && scanResult.bin_id === binId && scanResult.verified) {\n    // Clear result after reading\n    flow.set('nfcScanResult', null);\n    \n    msg.payload = scanResult;\n    msg.statusCode = 200;\n} else {\n    msg.payload = {\n        success: false,\n        verified: false,\n        message: 'No scan result yet'\n    };\n    msg.statusCode = 404;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 280,
        "wires": [["http_response_check"]]
    },
    {
        "id": "http_response_check",
        "type": "http response",
        "z": "tab_main",
        "name": "Return Scan Status",
        "statusCode": "",
        "headers": {"Access-Control-Allow-Origin": "*"},
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "inject_detect_trash",
        "type": "inject",
        "z": "tab_main",
        "name": "Simulate: User Puts Trash",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 380,
        "wires": [["function_detect_trash"]]
    },
    {
        "id": "function_detect_trash",
        "type": "function",
        "z": "tab_main",
        "name": "Create Detection",
        "func": "const lastBin = flow.get('lastOpenedBin');\nif (!lastBin || !lastBin.bin_id) {\n    node.error('No bin is currently open. Please open a bin first.');\n    node.status({fill:'red',shape:'ring',text:'No bin open'});\n    return null;\n}\n\nconst bin_id = lastBin.bin_id;\nconst user_qr = lastBin.user_qr_code || 'SB-user-001';\nconst materials = ['plastic', 'paper', 'glass', 'metal', 'organic', 'other'];\nconst material = materials[Math.floor(Math.random() * materials.length)];\nconst confidence = (Math.random() * 0.14 + 0.85).toFixed(2);\n\nmsg.topic = `bin/${bin_id}/detected`;\nmsg.payload = {\n    bin_id: bin_id,\n    user_qr_code: user_qr,\n    material: material,\n    material_type: material,\n    confidence: parseFloat(confidence),\n    timestamp: new Date().toISOString(),\n    event: 'material_detected'\n};\n\nnode.status({fill:'green',shape:'dot',text:`Trash detected`});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 380,
        "wires": [["mqtt_publish_detect"]]
    },
    {
        "id": "mqtt_publish_detect",
        "type": "mqtt out",
        "z": "tab_main",
        "name": "Publish Detection",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "mqtt_broker",
        "x": 670,
        "y": 380,
        "wires": []
    },
    {
        "id": "mqtt_subscribe_open",
        "type": "mqtt in",
        "z": "tab_main",
        "name": "Listen: Bin Opens",
        "topic": "bin/+/open",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 480,
        "wires": [["function_store_opened_bin"]]
    },
    {
        "id": "function_store_opened_bin",
        "type": "function",
        "z": "tab_main",
        "name": "Store Opened Bin",
        "func": "const bin_id = msg.payload.bin_id || msg.topic.split('/')[1];\nconst user_qr = msg.payload.user_qr_code || 'SB-user-001';\nflow.set('lastOpenedBin', {bin_id: bin_id, user_qr_code: user_qr, opened_at: new Date().toISOString()});\nnode.status({fill:'green',shape:'dot',text:`✓ Bin opened`});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 480,
        "wires": [[]]
    },
    {
        "id": "mqtt_subscribe_close",
        "type": "mqtt in",
        "z": "tab_main",
        "name": "Listen: Bin Closes",
        "topic": "bin/+/close",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 540,
        "wires": [["function_clear_bin"]]
    },
    {
        "id": "function_clear_bin",
        "type": "function",
        "z": "tab_main",
        "name": "Clear Bin Info",
        "func": "const bin_id = msg.payload.bin_id || msg.topic.split('/')[1];\nflow.set('lastOpenedBin', null);\nnode.status({fill:'grey',shape:'ring',text:`Bin closed`});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 540,
        "wires": [[]]
    }
]
