node-red/data/flows.json
[
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "SmartBin MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "tab_main",
        "type": "tab",
        "label": "SmartBin Trash Detection",
        "disabled": false,
        "info": "IoT simulation for trash detection"
    },
    {
        "id": "inject_detect_trash",
        "type": "inject",
        "z": "tab_main",
        "name": "Simulate: User Puts Trash",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [["function_detect_trash"]]
    },
    {
        "id": "function_detect_trash",
        "type": "function",
        "z": "tab_main",
        "name": "Create Detection",
        "func": "const lastBin = flow.get('lastOpenedBin');\nif (!lastBin || !lastBin.bin_id) {\n    node.error('No bin is currently open. Please open a bin first.');\n    node.status({fill:'red',shape:'ring',text:'No bin open'});\n    return null;\n}\n\nconst bin_id = lastBin.bin_id;\nconst user_qr = lastBin.user_qr_code || 'SB-user-001';\nconst materials = ['plastic', 'paper', 'glass', 'metal', 'organic', 'other'];\nconst material = materials[Math.floor(Math.random() * materials.length)];\nconst confidence = (Math.random() * 0.14 + 0.85).toFixed(2);\n\nmsg.topic = `bin/${bin_id}/detected`;\nmsg.payload = {\n    bin_id: bin_id,\n    user_qr_code: user_qr,\n    material: material,\n    material_type: material,\n    confidence: parseFloat(confidence),\n    timestamp: new Date().toISOString(),\n    event: 'material_detected'\n};\n\nnode.status({fill:'green',shape:'dot',text:`Trash detected in ${bin_id.substring(0,8)}`});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 100,
        "wires": [["mqtt_publish_detect"]]
    },
    {
        "id": "mqtt_publish_detect",
        "type": "mqtt out",
        "z": "tab_main",
        "name": "Publish Detection",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "mqtt_broker",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "mqtt_subscribe_open",
        "type": "mqtt in",
        "z": "tab_main",
        "name": "Listen: Bin Opens",
        "topic": "bin/+/open",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [["function_store_bin"]]
    },
    {
        "id": "function_store_bin",
        "type": "function",
        "z": "tab_main",
        "name": "Store Bin Info",
        "func": "const bin_id = msg.payload.bin_id || msg.topic.split('/')[1];\nconst user_qr = msg.payload.user_qr_code || 'SB-user-001';\nflow.set('lastOpenedBin', {bin_id: bin_id, user_qr_code: user_qr, opened_at: new Date().toISOString()});\nnode.status({fill:'blue',shape:'dot',text:`Bin ${bin_id.substring(0,8)} opened`});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "mqtt_subscribe_close",
        "type": "mqtt in",
        "z": "tab_main",
        "name": "Listen: Bin Closes",
        "topic": "bin/+/close",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [["function_clear_bin"]]
    },
    {
        "id": "function_clear_bin",
        "type": "function",
        "z": "tab_main",
        "name": "Clear Bin Info",
        "func": "const bin_id = msg.payload.bin_id || msg.topic.split('/')[1];\nflow.set('lastOpenedBin', null);\nnode.status({fill:'grey',shape:'ring',text:`Bin ${bin_id.substring(0,8)} closed`});\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 280,
        "wires": [[]]
    }
]
