node-red/data/flow.json
[
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "SmartBin MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "tab_main",
        "type": "tab",
        "label": "SmartBin IoT Simulator",
        "disabled": false,
        "info": "Main flow for simulating smart bin operations and material detection"
    },
    {
        "id": "inject_open_bin",
        "type": "inject",
        "z": "tab_main",
        "name": "Simulate: Open Bin",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "function_open_bin"
            ]
        ]
    },
    {
        "id": "function_open_bin",
        "type": "function",
        "z": "tab_main",
        "name": "Prepare Open Command",
        "func": "// Simulate bin open command\nconst bin_id = env.get('BIN_ID') || 'test-bin-uuid-001';\nconst user_qr = env.get('USER_QR') || 'SB-test-user-001';\n\nmsg.topic = `bin/${bin_id}/open`;\nmsg.payload = {\n    bin_id: bin_id,\n    command: 'open',\n    user_qr_code: user_qr,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "mqtt_publish_open",
                "debug_open"
            ]
        ]
    },
    {
        "id": "mqtt_publish_open",
        "type": "mqtt out",
        "z": "tab_main",
        "name": "Publish Open",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug_open",
        "type": "debug",
        "z": "tab_main",
        "name": "Debug Open",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "inject_close_bin",
        "type": "inject",
        "z": "tab_main",
        "name": "Simulate: Close Bin",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "function_close_bin"
            ]
        ]
    },
    {
        "id": "function_close_bin",
        "type": "function",
        "z": "tab_main",
        "name": "Prepare Close Command",
        "func": "// Simulate bin close command\nconst bin_id = env.get('BIN_ID') || 'test-bin-uuid-001';\n\nmsg.topic = `bin/${bin_id}/close`;\nmsg.payload = {\n    bin_id: bin_id,\n    command: 'close',\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "mqtt_publish_close",
                "debug_close"
            ]
        ]
    },
    {
        "id": "mqtt_publish_close",
        "type": "mqtt out",
        "z": "tab_main",
        "name": "Publish Close",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 180,
        "wires": []
    },
    {
        "id": "debug_close",
        "type": "debug",
        "z": "tab_main",
        "name": "Debug Close",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 220,
        "wires": []
    },
    {
        "id": "inject_detect_plastic",
        "type": "inject",
        "z": "tab_main",
        "name": "Detect: Plastic",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "material",
                "v": "plastic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "function_detect_material"
            ]
        ]
    },
    {
        "id": "inject_detect_paper",
        "type": "inject",
        "z": "tab_main",
        "name": "Detect: Paper",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "material",
                "v": "paper",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "function_detect_material"
            ]
        ]
    },
    {
        "id": "inject_detect_glass",
        "type": "inject",
        "z": "tab_main",
        "name": "Detect: Glass",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "material",
                "v": "glass",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "function_detect_material"
            ]
        ]
    },
    {
        "id": "inject_detect_metal",
        "type": "inject",
        "z": "tab_main",
        "name": "Detect: Metal",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "material",
                "v": "metal",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "function_detect_material"
            ]
        ]
    },
    {
        "id": "inject_detect_organic",
        "type": "inject",
        "z": "tab_main",
        "name": "Detect: Organic",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "material",
                "v": "organic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "function_detect_material"
            ]
        ]
    },
    {
        "id": "function_detect_material",
        "type": "function",
        "z": "tab_main",
        "name": "Prepare Detection Event",
        "func": "// Simulate material detection\nconst bin_id = env.get('BIN_ID') || 'test-bin-uuid-001';\nconst user_qr = env.get('USER_QR') || 'SB-test-user-001';\nconst material = msg.material || 'other';\n\n// Confidence between 0.7 and 0.99\nconst confidence = (Math.random() * 0.29 + 0.7).toFixed(2);\n\nmsg.topic = `bin/${bin_id}/detected`;\nmsg.payload = {\n    bin_id: bin_id,\n    user_qr_code: user_qr,\n    material_type: material,\n    confidence: parseFloat(confidence),\n    timestamp: new Date().toISOString(),\n    event: 'material_detected'\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 380,
        "wires": [
            [
                "mqtt_publish_detect",
                "debug_detect"
            ]
        ]
    },
    {
        "id": "mqtt_publish_detect",
        "type": "mqtt out",
        "z": "tab_main",
        "name": "Publish Detection",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "debug_detect",
        "type": "debug",
        "z": "tab_main",
        "name": "Debug Detection",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "mqtt_subscribe_all",
        "type": "mqtt in",
        "z": "tab_main",
        "name": "Listen All Bins",
        "topic": "bin/#",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 560,
        "wires": [
            [
                "debug_all_mqtt"
            ]
        ]
    },
    {
        "id": "debug_all_mqtt",
        "type": "debug",
        "z": "tab_main",
        "name": "All MQTT Messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 560,
        "wires": []
    },
    {
        "id": "comment_header",
        "type": "comment",
        "z": "tab_main",
        "name": "SmartBin IoT Simulator - Click inject buttons to simulate events",
        "info": "This flow simulates:\n1. Bin open/close commands\n2. Material detection events (plastic, paper, glass, metal, organic)\n\nAll events are published to MQTT and can be monitored via the debug panel.",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "comment_bin_control",
        "type": "comment",
        "z": "tab_main",
        "name": "Bin Control: Open & Close Simulation",
        "info": "",
        "x": 210,
        "y": 60,
        "wires": []
    },
    {
        "id": "comment_detection",
        "type": "comment",
        "z": "tab_main",
        "name": "Material Detection: Plastic, Paper, Glass, Metal, Organic",
        "info": "",
        "x": 250,
        "y": 260,
        "wires": []
    },
    {
        "id": "comment_monitor",
        "type": "comment",
        "z": "tab_main",
        "name": "MQTT Monitor: View all messages",
        "info": "",
        "x": 190,
        "y": 520,
        "wires": []
    }
]
